{% extends 'cond/base.html' %}
{% load static %}
<html>
<head>
    <title> Кондиционеры</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/cond.css' %}">

</head>
<body>
<div class="page-header">
    <h1><a href="/">Кондиционеры. Сплит-ситемы охлаждения воздуха.</a> </h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% for cond in conds %}
                <div class="cond">
                    <div class="date">
                    </div>
                    <h1><a href="{% url 'cond_detail' pk=cond.pk %}">{{cond.title}}</a> </h1>
                    <p>Категория компрессора:  {{cond.type}}</p>
                    <p>{{cond.price}}</p>
                </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>